*{
    margin: 0;
    padding: 0px;
}

a{
    text-decoration: none;
    color: black;
}

.main-content{
    width: 970px;
    height: 960px;
    margin: 0px 0px 0px 0px;
    /* background: bisque; */
    border-left: 2px solid black;
    border-right:2px solid black ;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.header button{
    width: 40%;
    height: 50px;
    margin: 10px 0px 0px 0px;
}

.post-container{
    padding: 22px;
    height: 85%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

/* This is only example for generated content look like */

.example-user-post{
    border: 5px solid green;
    margin-top: 20px;
}
.example-post-box{
    padding: 25px;
    border: 1px solid black;
}
.user-information{
    display: flex;
}
.profilePic-btn{
    background-color: gold;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.username-display{
    margin: 10px 0px 0px 30px;
    font-size: 24px;
}
/* Start post section */
.post-content{
    padding: 25px;
    text-align: justify;
}
/* Start footer section (like button) */
.post-footer{
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.post-footer p{
    margin: 0px 20px 0px 0px;
}

.post-footer button{
    margin: 0px 10px 0px 0px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* border: none; */
}
/* Start comment section */
.comment-section{
    margin: 15px 0px 0px 0px;
}

.comment-slot{
    width: 100%;
    height: 70px;
}
.submit-comment-btn, .cancel-comment-btn{
    margin: 15px 0px 0px 15px;
    float: right;
    width: 70px;
}